html {
  text-align: center;
  font-family: fantasy;
  font-size: x-large;
}

h1 {
  margin-bottom: 0;
}

#game-canvas {
  border: 2px solid red;
  background: url("http://i385.photobucket.com/albums/oo294/AzTIcA/OceanBackground.jpg");
}
