html {
  text-align: center;
  font-family: fantasy;
  font-size: x-large;
  background-color: black;
}

.info {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 16px;
}

.info h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

h1 {
  margin-bottom: 0;
  color: white;
}

#game-canvas {
  border: 5px solid steelblue;
  background: url("http://i385.photobucket.com/albums/oo294/AzTIcA/OceanBackground.jpg");
}
